.banner {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
  
  width: 400px;
}

#inteface_wrapper {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

#star_canvas {
  border: 1px solid black;
}

#message_text {
  width: 500px;
  height: 450px;
  
  text-align: justify;
}